.report-table thead{
	background-color: #BBDEFB;
}

.report-table th{
	border-left: 1px solid #BDBDBD;
	border-right: 1px solid #BDBDBD;
	border-top: 1px solid #BDBDBD;
	border-bottom: 1px solid #BDBDBD; 
	background-color: #BBDEFB;
}

.report-table td{
	border-left: 1px solid #BDBDBD;
	border-right: 1px solid #BDBDBD;
	border-top: 1px solid #BDBDBD;
	border-bottom: 1px solid #BDBDBD;
	text-align: center;
}

.report-table{
	visibility: None;
}

.output-box{
	overflow-y:auto;
	height:400px;
}

.blue-background{
	background-color: #000080
}

.form-button{
	min-width: 28%
}

.custom-progress{
	background-color: #BBDEFB
}

.custom-determinate{
	background-color: #1976D2
}

.custom-indeterminate{
	background-color: #1976D2
}

.dark-primary-color{ 
	background: #1976D2; 
}

.default-primary-color{ 
	background: #2196F3; 
}

.light-primary-color{ 
	background: #BBDEFB; 
}

.text-primary-color{ 
	color: #FFFFFF; 
}

.accent-color{ 
	background: #9E9E9E; 
}

.primary-text-color{ 
	color: #212121; 
}

.secondary-text-color{
	color: #757575;
}

.divider-color{ 
	border-color: #BDBDBD; 
}